<!DOCTYPE html>
<html>
<head>
	<title>We are what we do</title>
	<link rel="stylesheet" type="text/css" href="./categories.css">
</head>
<body>
	<div class="categories">
		<h2>Categories</h2>
		<p>Brow groups by topics you're interested in.</p>
		<div class="list-categories1">
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg)"></div>
				<h4>Outdoors & Adventure</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/d/600_450131949.jpeg)"></div>
				<h4>Tech</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/c/600_450131932.jpeg)"></div>
				<h4>Family</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/e/600_450131950.jpeg)"></div>
				<h4>Health & Wellness</h4>
				<a href="#" class="link-category"></a>
			</div>
		</div>

		<div class="list-categories2">
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/c/600_450131948.jpeg)"></div>
				<h4>Sports & Fitness</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/b/600_450131931.jpeg)"></div>
				<h4>Learning</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/a/600_450131946.jpeg)"></div>
				<h4>Photography</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/1/600_450131937.jpeg)"></div>
				<h4>Food & Drink</h4>
				<a href="#" class="link-category"></a>
			</div>
		</div>

		<div class="list-categories3">
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/f/600_450131951.jpeg)"></div>
				<h4>Writing</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/3/600_450131939.jpeg)"></div>
				<h4>Language & Culture</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/6/600_450131942.jpeg)"></div>
				<h4>Music</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/5/600_450131941.jpeg)"></div>
				<h4>Movements</h4>
				<a href="#" class="link-category"></a>
			</div>
		</div>

		<div class="list-categories4">
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/4/600_450131940.jpeg)" ></div>
				<h4>LGBTQ</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/4/8/3/f/600_450858495.jpeg)"></div>
				<h4>Film</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/2/600_450131938.jpeg)"></div>
				<h4>Sci-Fi & Games</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/5/600_450131925.jpeg)"></div>
				<h4>Beliefs</h4>
				<a href="#" class="link-category"></a>
			</div>
		</div>

		<div class="list-categories5">
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/8/8/600_450131912.jpeg)"></div>
				<h4>Arts</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/6/600_450131926.jpeg)"></div>
				<h4>Book Clubs</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/a/600_450131930.jpeg)"></div>
				<h4>Dance</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/9/600_450131945.jpeg)"></div>
				<h4>Pets</h4>
				<a href="#" class="link-category"></a>
			</div>
		</div>

		<div class="list-categories6">
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/9/600_450131929.jpeg)" ></div>
				<h4>Hobbies & Crafts</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/e/600_450131934.jpeg)"></div>
				<h4>Fashion & Beauty</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/a/b/600_450131947.jpeg)"></div>
				<h4>Social</h4>
				<a href="#" class="link-category"></a>
			</div>
			<div class="wrapper-category">
				<div class="category" style="background-image: url(https://secure.meetupstatic.com/photos/event/2/e/9/7/600_450131927.jpeg)"></div>
				<h4>Career & Business</h4>
				<a href="#" class="link-category"></a>
			</div>
		</div>
	</div>
</body>
</html>