<!DOCTYPE html>
<html>
<head>
	<title>We are what we do</title>
	<link rel="stylesheet" type="text/css" href="./findGroup.css">
</head>
<body>
	<div >
		<div class="findGroup">
			<div>
				<h2>Groups near you</h2>
				<div class="text-introduce">Find groups that get together to do the things they love</div>
				<div class="introduceGroup">
					<div></div>
					<div>LEARNING</div>
					<div><h2>Cooking Learning Club</h2></div>
					<div>51 Members</div>
					<a href="#" class="link-group"></a>
				</div>
			</div>
			<div>
				<a href="">See all</a>
			</div>


		</div>
	</div>
</body>
</html>