*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.imageHeader {
	background-image: url("https://www.meetup.com/mu_static/en-US/still_5.5ba4b9cf.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.overlay {
	height: 462px;
	width: 100%;
  	background-color: rgba(0,0,0, 0.4); 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.overlay > h1{
	color: #fff;
	font-size: 46px;
	font-weight: bold;
	text-align: center;
}

.overlay >p{
	font-size: 24px;
	color: #fff;
	margin-top: 18px;
	margin-bottom: 40px;
}

.overlay >div {
	width: 320px;
	height: 50px;
	font-size: 19px;
	font-weight: 500;
	background-color: #e82535;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 6px;
}
.optionHeader{
	width: 100%;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #e8e8e8;

}

.option{
	width: 144px;
	height: 32px;
	background-color: #F6F7F8;
	margin: 0px 10px;
	border-radius: 6px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #e8e8e8;
}

.option a{
	font-size: 16px;
	color: #757575;
	text-decoration: none;
	display: block;
}