<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./imageHeader.css">
</head>
<body>
	<div class="imageHeader">
		<div class="overlay">
			<h1>The real world is calling</h1>
			<p>Join a local group to meet people, try something new, or do more of whay you love.</p>
			<div>Join Meetup</div>
		</div>
	</div>
	<div class="optionHeader">
		<div class="option">
			<a href="#">Join a movement</a>
		</div>
		<div class="option">
			<a href="#">Learn to cook</a>
		</div>
		<div class="option">
			<a href="#">Train for a marathon</a>
		</div>
		<div class="option">
			<a href="#">Build a mobile app</a>
		</div>
		<div class="option">
			<a href="#">Hike a mountain</a>
		</div>
		<div class="option">
			<a href="#">Practice a language</a>
		</div>
	</div>
</body>
</html>