<!DOCTYPE html>
<html>
<head>
	<title>We are what we do</title>
	<link rel="stylesheet" type="text/css" href="./navigationBar.css">
</head>
<body>
	<div class="navigationHead">
		<span>COVID-19 advisory</span>
		<span>
			&nbsp For the health and safety of Meetup communities, we're advising that all events be hosted online in the coming weeks.&nbsp
		</span>
		 <a href="">Learn more</a>
	</div>
	<div class="navigationBar">
		<div>
			<a href="#">
				<img src="https://www.meetup.com/mu_static/en-US/logo--script.004ada05.svg" width="123" height="44">
			</a>
		</div>
		<div>
			<ul class="listBar">
				<li>
					<div>
						<a href="https://www.meetup.com/start/organizing">Start a new group</a>
					</div>
				</li>
				<li>
					<div>
						<a href="https://www.meetup.com/start/organizing">Log in</a>
					</div>
				</li>
				<li>
					<div>
						<a href="https://www.meetup.com/start/organizing">Sign up</a>
					</div>
				</li>
			</ul>
		</div>
		
	</div>
</body>
</html>